body{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
/* Main Heading style is here */
#main-heading{
    text-align: center;
    color:#836FFF;
    font-size: 36px;
    font-weight: 700;
    margin-top: 20px;
    padding-top: 10px;
}
#main-paragraph{
    text-align: center;
    color: #000;
    font-size: 25px;
    font-weight: 700;
}
#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*  ! section one style. */
#section1{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    padding: 15px;
    margin:30px;
    border: 1px solid #000;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
#section1 h1 {
    color: #ff5733; /* Orange-Red */
    padding:0;
    margin: 20px;
    font-weight: 600;
    font-size: 40px;
}
#section1 p {
    font-family: 'Arial', sans-serif;
    color: #FFF;
    font-size: 20px;
    padding:0;
    margin-left: 20px;
}

/* ? Section two Styles */
#section2{
    background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    padding: 15px;
    padding-bottom: 50px;
    margin:30px;
    border: 1px solid #000;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
#section2 h1 {
    color: #33ff57; /* Green */
    padding: 0;
    margin: 20px;
    font-weight: 600;
    font-size: 40px
}
#section2 p {
    font-family: 'Georgia', serif;
    color: #FFF;
    font-size: 20px;
    margin-left: 20px;
    font-weight: 250;
}

/* !Section 3 Styles */
#section3{
    background-image: linear-gradient(to left, #00308f, #003e99, #004ca2, #0059ab, #0066b2);
    padding: 10px 0 50px 10px;
    margin:30px;
    border:1px solid #000;
    border-radius: 8px;;

    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-border-radius: 8px;
}
#section3 h1 {
    color: #a3c1ad; 
    font-weight: 800;
    font-size: 40px;
    padding:0;
    margin:20px;
}
#section3 p {
    font-family: 'Courier New', monospace;
    font-size: 20px;
    color: #FFF;
    margin-left: 20px;
    font-weight: 400px
}

/* ?Section 4 Styles */
#section4{
    background-image: linear-gradient(to right bottom, #4b6f44, #4b683a, #4b6131, #4b5a28, #4b5320);
    padding: 10px;
    margin:30px;
    border:1px solid #000;
    border-radius: 8px;
}
#section4 h1 {
    color: cyan;
    font-size: 40px;
    font-weight: 550;
    margin:20px 0 0 20px;
}
#section4 p {
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
    color: #FFF;
    padding-bottom: 20px;
    margin-left: 20px;
    font-weight: 200;
}

/* !Section 5 Styles */
#section5{
    background-color: #8EC5FC;
    background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    padding:10px;
    margin:30px;
    border:1px solid #000;
    border-radius: 8px;
}
#section5 h1 {
    color: #ff8c33; /* Dark Orange */
    font-size: 40px;
    font-weight: 500;
    margin-left: 20px;
}
#section5 p {
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    color: #FFF;
    padding-bottom: 30px;
    margin-left: 20px;
    font-weight: 200;
}
#explanation{
    color: #FFF;
    font-size: 18px;
    padding: 10px;
    margin: 30px;
    border-radius: 8px;
    border: 1px solid #000;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
#explanation h1{
    font-family: 'Times New Roman', serif;
    font-size: 35px;
    color: #FFF;
    padding-left:5px;
    border-radius: 3px;
    margin-left: 20px;
    font-weight: 200;
    border-left: 10px inset #051937;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
#explanation p{
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    color: #FFF;
    padding-bottom: 20px;
    margin-left: 30px;
    font-weight: 200;
}
/* ! Footer section style is here */
#footer-section{
    background: radial-gradient(circle, rgba(57,53,55,1) 0%, rgba(0,1,1,1) 100%);
    text-align: center;
    padding: 20px;
    margin: 25px 25px 0px 25px;;
    border-radius: 8px;
    border: 1px solid #000;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;



}

#footer-section h1{
    font-family: 'Times New Roman', serif;
    font-size: 35px;
    color: #FFF;
    padding-left:5px;
    border-radius: 3px;
    margin-left: 20px;
    font-weight: 200;
    border-left: 10px inset #051937;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
#footer-section p{
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    color: #FFF;
    margin-left: 30px;
    font-weight: 200;
}
#footer-section a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', serif;
    text-decoration: none;
    font-size: 20px;
    color: #FFF;
    padding: 5px;
    font-weight: 200;
}
#footer-section ul > li{
    list-style: none;
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    color: #FFF;
    font-weight: 200;
    text-align: center;
}
#footer-section a:hover{
    color: #051937;
}
